@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login {
	background-color: $primary_color;
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	@include tablet {
		padding: 0;
	}
	&_container {
		background-color: $primary_color--light;
		width: 80%;
		margin: 3 auto;
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;

		@include tablet {
			min-height: 80vh;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}
		&--middle {
			@include tablet {
				position: absolute;
				bottom: 0%;
				// top: 0;
				opacity: 0.15;
			}
			@include tablet {
				img {
					width: 100%;
					height: 45rem;
				}
			}
		}
		&--left {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			@include tablet {
				width: 50%;
				z-index: 1;
				padding: 3rem 3rem;
				min-height: 20rem;
				justify-content: flex-start;
			}

			&_heading {
				color: $accent_color;
				font-size: 2.5rem;
				@include tablet {
					// margin: 1rem 0;
					font-size: 3rem;
				}
				@include desktop {
					font-size: 4rem;
				}
			}
			&_subheading {
				color: white;
				font-size: 1.5rem;
				margin-top: 0.5rem;
				text-align: center;
				@include tablet {
					margin: 2rem 0;
					font-size: 2rem;
				}
			}
		}

		&--right {
			@include tablet {
				width: 50%;
				z-index: 1;
			}
			&_form {
				margin: 2rem 0;
				@include desktop {
					padding: 3rem;
				}
				&_section {
					display: flex;
					flex-direction: column;
					margin-top: 1rem;
					@include tablet {
						margin: 2rem 0;
					}
					label {
						font-size: $mobile-secondary-font;
						text-transform: uppercase;
						color: white;
						margin-bottom: 0.5rem;
						@include tablet {
							margin-bottom: 0.75rem;
						}
					}
					input {
						height: 2rem;
						border-radius: 0.25rem;
						border: none;
						padding: 0.5rem 1rem;
						font-size: $mobile-body;
						// width: 100%;
						&:focus {
							outline: 2px solid $accent_color;
						}
					}
					button {
						background-color: $accent_color;
						color: white;
						border-radius: 0.25rem;
						border: none;
						height: 3rem;
						font-size: $mobile-body;
						text-transform: uppercase;
						margin-top: 1rem;
						padding: 0.5rem 1rem;
						cursor: pointer;
						@include tablet {
							&:hover {
								background-color: rgba($color: $accent_color, $alpha: 0.8);
							}
						}
					}

					&_autoresult {
						background-color: white;
						margin-top: -.5rem;
						// padding: 0.5rem 1rem;
						border-radius: 0.25rem;
                        max-height: 6rem;
                        overflow: scroll;
                        position: absolute;
                        top: 4rem;
                        z-index: 1;
                        width: 100%;

						&_item {
							list-style-type: none;
							border-bottom: 1px solid $accent_color;
							padding: 0.5rem 1rem;
							border-radius: 0.25rem;

							cursor: pointer;
							&:hover {
								background-color: rgba($color: $accent_color, $alpha: 0.8);
							}
						}

                        @include tablet{
                            max-height: 10rem;
                        }
					}

					&_input {
						position: relative;
						width: auto;
						height: 2rem;

						input {
							width: -webkit-fill-available;
							height: 2rem;
							border-radius: 0.25rem;
							border: none;
							padding: 0.5rem 1rem;
							font-size: $mobile-body;
							// width: 100%;
							&:focus {
								outline: 2px solid $accent_color;
							}
						}
					}
					&_icon {
						position: absolute;
						right: 0.5rem;
						top: 45%;
						bottom: 0;
						cursor: pointer;
					}
					
				}
			}
		}
	}
}
