$tablet: 786px;
$desktop: 1200px;

//font sizes
//mobile
$mobile-body: 1rem;
$mobile-secondary-font: 0.85rem;
$mobile-heading: 1.5rem;
$mobile-subheading: 1.3125rem;

//desktop
$desktop-font: 1.125rem;
$desktop-secondary-font: 1rem;
$desktop-heading: 2.1875rem;
$desktop-subheading: 1.875rem;
