@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.weather {
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: white;
	height: 10rem;
	max-height: 10rem;
	overflow: scroll;
	&_container {
		&_title {
			color: $accent_color;
			height: 2rem;
		}
		&_body {
			height: 6rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			&_digits {
				font-size: 1.25rem;
				font-weight: bold;
				width: 50%;
			}
			&_image {
				width: 50%;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		&_footer {
			height: 2rem;
			font-weight: bold;
			&_description {
				margin-bottom: 0.5rem;
			}
			&_high {
				margin-right: 0.25rem;
			}
		}
	}
}
