@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
	background-color: $background;
	padding: 1rem 0;
	min-height: 85vh;
	&--fallback {
		background-color: rgba($color: $primary_color, $alpha: 0.4);
		width: 90%;
		margin: 1rem auto;
		border-radius: 0.25rem;
		padding: 1rem;
		box-sizing: border-box;
	}
	&-container {
		width: 90%;
		margin: 0rem auto;
		@include tablet {
			display: flex;
		}
		&_sidebar {
			display: flex;
			gap: 1rem;
			margin-bottom: 1.5rem;
			@include tablet {
			margin-bottom: unset;
				display: block;
				width: 30%;
				order: 2;
				margin-left: 1rem;
			}
			@include desktop {
				width: 25%;
			}

			&_quote {
				width: 50%;
				min-height: 10rem;
				@include tablet {
					width: auto;
				}
			}
			&_weather {
				width: 50%;
				min-height: 10rem;
				@include tablet {
					width: auto;
				}
			}
		}
		&_news {
			&_title {
				margin-bottom: 1rem;
			}
			a {
				text-decoration: none;
				color: inherit;
			}

			@include tablet {
				width: 70%;
			}
			@include desktop {
				width: 75%;
			}
		}
	}
}
