@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
	margin: 0;
	background-color: $primary_color;
	height: 3rem;
	padding: 1rem 0;
	&_container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_left {
			width: 10%;
			@include tablet {
				width: 10%;
				max-width: 3rem;
			}
			img {
				// width: 20%;
				height: 3rem;
				cursor: pointer;
			}
		}
		&_middle {
			height: 3rem;
			&_city {
				text-transform: uppercase;
				color: $accent_color;
				text-align: center;
				font-size: 1.05rem;
				font-weight: bold;
				margin-bottom: 0.25rem;
				@include tablet {
					font-size: 1.25rem;
				}
			}
			&_date {
				color: white;
				text-align: center;
				font-size: $mobile-secondary-font;
				@include tablet {
					font-size: $desktop-secondary-font;
				}
			}
		}
		&_right {
			@include tablet {
				width: 25%;
				max-width: 12rem;
			}
			&--mobile {
				cursor: pointer;
				@include tablet {
					display: none;
				}

				&_list-container {
					position: absolute;
					top: 4rem;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: $primary_color;
					&_list {
						display: flex;
						// justify-content: space-around;
						align-items: center;
						flex-direction: column;
						padding: 2rem 0;
						height: 70vh;
						&_listitem {
							height: 4rem;
							font-size: $mobile-subheading;
							text-transform: uppercase;
							display: flex;
							align-items: center;
							margin: 1rem 0;
							width: 100%;
							justify-content: center;
							color: white;
							&:hover {
								background-color: $accent_color;
							}
						}
					}
				}
			}
			&--tablet {
				display: none;
				@include tablet {
					display: block;
					position: relative;
				}
				&-list {
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 3rem;
					color: white;
					&_listitem {
						color: white;
						text-transform: uppercase;
						font-size: $desktop-secondary-font;
						cursor: pointer;

						&:hover {
							color: $accent_color;
						}
						&_setting-icon {
							&:hover {
								path {
									stroke: $accent_color;
								}
							}
							path {
								color: white;
								stroke: white;
							}
						}
					}
				}
				&_settings {
					position: absolute;
					background-color: white;
					padding: 1rem 0.25rem;
					// border-radius: 0.25rem;
					top: 3rem;
					right: 0;
					width: 15rem;

					&_list-item {
						// border: 1px solid black;
						text-transform: uppercase;
						font-size: $desktop-secondary-font;
						padding: 0.5rem;
						// margin-bottom: .5rem;
						display: flex;
						align-items: center;
						&:hover {
							background-color: rgba($color: $accent-color, $alpha: 0.8);
							color: white;
							cursor: pointer;
							.navbar_container_right--tablet_settings_list-item_icon {
								path {
									stroke: white;
								}
							}
						}
						&_icon {
							margin-right: 1rem;
						}
					}
					&_triangle {
						position: absolute;
						right: 0;
						top: -0.5rem;
						width: 0;
						height: 0;
						border-left: .5rem solid transparent;
						border-right: .5rem solid transparent;
						border-bottom: .5rem solid white;
					}
				}
			}
		}
	}
}
