@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.news-card {
	// width: 100%;

	padding: 1rem;
	background-color: white;
	border-radius: 0.5rem;
	&_image {
		img {
			height: 100%;
			max-height: 10rem;
			object-fit: cover;
		}
		@include tablet {
			width: 30%;
			margin-right: 1rem;
			img {
				height: 100%;
				max-height: unset;
			}
		}
	}
	&_body {
		@include tablet {
			width: 70%;
		}
		&_title {
			&_heading {
				font-size: 1rem;
				@include tablet {
					font-size: 1.25rem;
				}
			}
		}
	}
	@include tablet {
		display: flex;
		border-left: 0.25rem solid $primary_color--light;
		height: 12rem;
	}
}
